{% load static %}
{% load utils_tag %}
{% load content_types %}

<table id="drop_zone" class="storage-table">
    <tr class="storage-table__field header">
        <th class="tfield">Name</th>
        <th class="tfield">Size</th>
        <th class="tfield">Type</th>
        <th class="tfield">Added</th>
        {% comment %} <th class="tfield">Updated</th> {% endcomment %}
        <th class="tfield">Owner</th>
        <th class="tfield"></th>
        <th class="tfield"></th>
    </tr>
    {% for item in items %}
    <tr class="storage-table__field file">
        <td class="tfield">{% get_icon item.contenttype %}<a class="tfield--link" href="/{{ item.type_href }}?target={{ item.data_href|urlencode }}" target="{{item.data_loc}}">{% truncate item.name %}</a></td>
        <td class="tfield">{% sizeof item.filesize %}</td>
        <td class="tfield">{{ item.human_type }}</td>
        {% comment %} <td class="tfield">{% timeago item.created_at %}</td> {% endcomment %}
        <td class="tfield">{% timeago item.updated_at %}</td>
        <td class="tfield">{{ item.owner_name }}</td>
        <td id="edit-file-field"
            class="tfield clickable" 
            data-href="{{ item.data_href }}">
            <img src="/static/public/edit_icon.svg" alt="Edit you file icon" height="18px" width="18px"></td>
        <td class="tfield" style="width: 20px;"></td>
    </tr>
    {% endfor %}
</table>



{% include 'components/uploading_list.html' %}