@import "./_includes/_colors.scss";
@import "./_includes/_reset.scss";



.main {
    min-height: 100vh;
    width: 100%;
    background-color: $dark;
}

a {
    font-weight: bolder;
    color: $dark;
    font-size: 13px;
    text-decoration: underline;
}

@import "./_components/aside.scss";
@import "./_components/header.scss";
@import "./_components/storage.scss";
@import "./_components/uploading_list.scss";

@import "./pages/home.scss";
@import "./pages/login_signin.scss";

