body {
    padding: 0px;
    background-color: rgb(25, 20, 47);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.dropzone {
    border: 5px dashed whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  300px;
    padding: 30px;
}

.dropzone.error {
    border: 5px dashed rgb(255, 0, 0);
}

.dropzone.hovering {
    border: 5px dashed rgb(136, 255, 0);
    
    background-image: url("https://www.pngkit.com/png/full/50-505604_gallery-icon-gallery-icon-png-white.png");
    background-origin: border-box;
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
}



.dropzone .dropzone__list {
    min-height: 100px;
    width: 100%;
}

.dropzone .dropzone__list .file-details {
    width: 100%;
}


.dropzone .dropzone__list .file-details .file-progress {
    background-color: rgb(0, 0, 0); 
    height: 30px;
    width: 100%;
    margin-top: 10px;

    border-radius: 5px;
    overflow: hidden;
}

.dropzone .dropzone__list .file-details .file-progress .progress-bar {
    /* width: 0%; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    
    /* border-radius: 10px; */
    overflow: hidden;

    
	background: linear-gradient(-45deg,  #562e85, #6723d5);
}

.dropzone .dropzone__list .file-details .file-progress .file-name 
{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    line-height: normal;
    color: white;
    position: absolute;
    height: 30px;
    margin: 0px;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    
}

.user_panel {
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.user_panel p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
