.storage-table {
    width: 100%;

    &__field {
        &.header {
            height: 50px;

            .tfield {
                padding-bottom: 5px;
                color: $grey;
                border-style: solid;
                border-width: 0px 0px 4px 0px;
                border-color: $invisible_border;
            }
        }

        &.file {
            height: 45px;
            border-style: solid;
            border-bottom-width: 0px 0px 4px 0px;
            border-color: $invisible_border;

            .tfield:first-child {
                display: flex;
                align-items: center;
                height: 45px;
            }

            &:hover {
                .tfield {
                    background-color: $puredark;
                }
            }

            &:active {
                .tfield.clickable {
                    filter: invert(1);
                }
            }

        }

        
        .tfield {
            text-align: center;
            color: $white;

            &.clickable {
                cursor: pointer;

                &:hover {
                    background-color: $space;
                }
            }

            &:first-child {
                text-align: left;
                padding-left: 20px;
            }

            &:last-child {
                // padding-right: 20px;
            }

            svg {
                height: 24px;
                width: 24px;
                margin-right: 10px;
            }

            &--link {
                text-align: center;
                color: $white;
                text-decoration: none;
                font-weight: normal;
                font-size: 15px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
