.storage-container {
    width: 100%;
    height: 100%;

    .storage-field {
        height: 80px;
        display: grid;
        grid-template-columns: 50% 50px 70px 90px 70px 40px;
        justify-content: space-between;
        align-items: center;

        border-style: solid;
        border-color: $invisible_border;
        border-width: 0 0 3px 0;

        &.field-head {
            height: 50px;
            .field-container {
                
                &--text {
                    font-weight: bolder;
                }
            }
        }
        &.field-file {
            .field-container {
                
                &--text {
                    font-weight: normal;
                }
            }
        }

        .field-container {
            min-width: 40px;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
                height: 32px;
                width: 32px;
                margin-right: 10px;
            }

            &:first-child {
                width: 50%;
                padding-left: 30px;
            }

            &--text {
                color: $white;
            }
        }
    }
}