.storage-container {
    min-height: calc(100vh - 120px);
    width: 100%;

    .storage-field {
        height: 80px;
        display: grid;
        grid-template-columns:calc(100% - 500px) 100px 50px 90px 70px 40px;
        justify-content: space-between;
        align-items: center;

        border-style: solid;
        border-color: $invisible_border;
        border-width: 0 0 3px 0;

        &.field-head {
            height: 50px;
            .field-container {
                
                &--text {
                    font-weight: bolder;
                }
            }
        }
        &.field-file {
            .field-container {
                overflow: hidden;
                
                &--text {
                    word-wrap: anywhere;
                    font-weight: normal;
                    text-align: center;
                }
            }
        }

        .field-container {
            min-width: 40px;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
                height: 32px;
                width: 32px;
                margin-right: 10px;
            }

            &:first-child {
                padding-left: 30px;
            }

            &--text {
                color: $white;
            }
        }
    }
}

.dropzone-filter {
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    pointer-events: none;
    display: none;

    * {
        pointer-events: none;
    }

    &__area {
        background-color: transparent;
        padding: 30px 70px;
        border-style: dashed;
        border-width: 4px;
        border-color: $white;

        .area-image {
            height: 80px;
            width: 80px;
        }
    }

    &.showing-filter {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
}