{% extends 'base.html' %}
{% load static %}
{% load utils_tag %}
{% load content_types %}


{% block head %}
{% endblock head %}

{% block content %}
<main class="main-block">
    {% include "components/aside.html" %}
    <div class="content-container">
        {% include "components/header.html" %}

        <div class="storage-container">
            <div class="storage-field field-head">
                <div class="field-container"><span class="field-container--text">Name</span></div>
                <div class="field-container"><span class="field-container--text">Size</span></div>
                <div class="field-container"><span class="field-container--text">Type</span></div>
                <div class="field-container"><span class="field-container--text">Added</span></div>
                <div class="field-container"><span class="field-container--text">Owner</span></div>
                <div class="field-container"><span class="field-container--text"></span></div>
            </div>

            {% for item in items %}
            <div class="storage-field field-file">
                <div class="field-container">{% get_icon item.contenttype %}<span class="field-container--text">{{ item.name }}</span></div>
                <div class="field-container"><span class="field-container--text">{% sizeof item.filesize %}</span></div>
                <div class="field-container"><span class="field-container--text">{% hcontentype item.contenttype %}</span></div>
                <div class="field-container"><span class="field-container--text">{% timeago item.created_at %}</span></div>
                <div class="field-container"><span class="field-container--text">{{ item.owner }}</span></div>
                <div class="field-container"><span class="field-container--text">:</span></div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
