{% extends 'base.html' %}
{% load static %}

{% block head %}
    {% if request.user.is_authenticated %}
        <script src="{% static 'js/helpers/folderCreation.js' %}"></script>
        <script src="{% static 'js/dropfile.js' %}"></script>
        <script src="{% static 'js/dropmenuHandler.js' %}"></script>
        <script src="{% static 'js/helpers/filePopupEditor.js' %}"></script>
    {% endif %}
{% endblock head %}

{% block content %}
<main id="main-block" class="main-block" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);">
    {% include "components/aside.html" %}
    <div class="content-container">
        {% include "components/header.html" %}
        {% include "components/storage.html" %}
    </div>
</main>
{% include 'components/upload_overlay.html' %}
{% include 'components/file_popup.html' %}

{% endblock content %}
