$white:    #000000;
$lightgrey:#0E0E11;
$grey:     #18181D;
$lightdark:#A6A6A6;
$deepgrey: #BBBBBB;
$dark:     #dfdfdf;
$puredark: #f6f6f6;
$space:    #F3F3F3;

$red:      #b32b2b;
$alert:    #ca1111;

$progresss:#83B433;


$invisible_border: #bbbbbb;
